<p>
  animal-display works!
</p>


<div class="row animal-list">
  <div class="card-body">
    <h3>{{currentAnimal.name}}</h3>
    <ul>
      <li>Species: {{currentAnimal.species}}</li>
      <li>Age: {{currentAnimal.age}}</li>
      <li>Diet: {{currentAnimal.diet}}</li>
      <li>Location: {{currentAnimal.location}}</li>
      <li>Number of Caretakers: {{currentAnimal.caretakers}}</li>
      <li>Gender: {{currentAnimal.gender}}</li>
      <li>Likes: {{currentAnimal.like}}</li>
      <li>Dislikes: {{currentAnimal.dislike}}</li>
    </ul>
  </div>
</div>
