  <div class="row">
    <div *ngFor="let currentAnimal of childAnimalList | age:filterByAllAnimals">
      <div class="card col-md">
        <div class="card-title">
        <h5>{{currentAnimal.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Species: {{currentAnimal.species}}</li>
        <li class="list-group-item">Age: {{currentAnimal.age}}</li>
        <li class="list-group-item">Diet: {{currentAnimal.diet}}</li>
        <li class="list-group-item">Location: {{currentAnimal.location}}</li>
        <li class="list-group-item">Number of Caretakers: {{currentAnimal.caretakers}}</li>
        <li class="list-group-item">Gender: {{currentAnimal.gender}}</li>
        <li class="list-group-item">Likes: {{currentAnimal.like}}</li>
        <li class="list-group-item">Dislikes: {{currentAnimal.dislike}}</li>
      </ul>
      <button class="btn btn-dark" (click)="editAnimalClicked(currentAnimal)" type="button">Edit Info</button>
    </div>
  </div>
</div>

<select (change)="onChange($event.target.value)">
  <option value="allAnimals" selected="selected" >All Zoo Animals</option>
  <option value="youngerAnimals">Animals Under 2 Years Old</option>
  <option value="olderAnimals">Animals Over 2 Years Old</option>
</select>
