
    <div *ngFor="let currentAnimal of childAnimalList">
      <div class="col-md-3 card">
      <ul>
        <li>Name: {{currentAnimal.name}}</li>
        <li>Species: {{currentAnimal.species}}</li>
        <li>Age: {{currentAnimal.age}}</li>
        <li>Diet: {{currentAnimal.diet}}</li>
        <li>Location: {{currentAnimal.location}}</li>
        <li>Number of Caretakers: {{currentAnimal.caretakers}}</li>
        <li>Gender: {{currentAnimal.gender}}</li>
        <li>Likes: {{currentAnimal.like}}</li>
        <li>Dislikes: {{currentAnimal.dislike}}</li>
      </ul>
    </div>
  </div>
